a
{
    text-decoration: none;
    color: #5B2473;
}

a:visited
{
    color: #5B2473;
}

body 
{
    background: linear-gradient( #8844A6,  #5B2473 45%);
    color: #F2F2F2;
    font-size: 1.08em;
    font-family: monospace;
    margin: 1.8%;

}

code
{
    font-family: 'VT323', monospace;
    font-size: 1.08em;
}

details div
{
    display: inline-block;
}

div
{
    border: solid rgba(0, 0, 0, 0.335) 2px;
    margin: 0.9%;
    padding: 1.5%;
}

h1
{
    font: normal 4.05em 'VT323' ; 
    text-shadow: rgb(112, 41, 106) 9px 9px 4.5px;
    text-align: center;
}

h2
{
    font: normal 2.7em 'VT323';
    text-shadow: rgb(112, 41, 106) 6px 6px 3.6px;
}

h3, .comandos
{
    font: normal 1.8em 'VT323'; 
    text-shadow: rgb(112, 41, 106) 3px 3px 1.8px;
}

li::marker
{
    content: none;
}

mark
{
    background-color: orange;
}

pre 
{
    display: inline-block;
    font-size: 1em;
    font-family: 'VT323', monospace;
    color: #B18FBF;
    vertical-align: top;
    padding: 1.8%;
    border: solid rgba(30, 129, 210, 0.103) 1px;
}

section
{
    padding: 1.8%;
}

small
{
    font-family: monospace;
    color: rgb(251, 226, 255);
}

summary
{
    font-size: 1.35em;
}

td
{
    padding: 1.5%;
}

ul
{
    margin: 0px;
    padding: 1 ;
    text-decoration: none;
}



.colorRed
{
    color: rgb(255, 23, 23);
}

.colorGreen
{
    color: rgb(2, 172, 2);
}

.criando
{
    padding: .5%;
}

.divg
{
    border: solid black 3px;
}

.detalhes
{
    color: rgba(128, 128, 128, 0.445);
}

.enfa
{
    font-size: 1.8em;
}

.enfase
{
    font-size: 1.18em;
}
.aenfase:hover
{
    font-size: 1.08em;
}

.pacotes, .agrupador, .modeloObj
{
    background-color: rgba(192, 14, 224, 0.137);
    box-shadow: black -4.5px 3px 6px 1px;
    padding: 0.3%;
    padding-right: 15px;
    margin: 0.36%;
}

.modeloObjdif
{
    background-color: rgba(65, 7, 75, 0.418);
    box-shadow: black -4.5px 3px 6px 1px;
    padding: 0.3%;
    padding-right: 15px;
}

.menu
{
    font: normal 900 1.2em sans-serif;
    width: 150px;
    background-color:#B18FBF;
    border: none;
    border-radius: 4.5px;
    text-align: center;
    position: relative;
    left: 50%;
}

.hide-drop
{
    font: normal 100 1.2em sans-serif;
    display: none;
    background-color: #8844A6;
    color: #5B2473;
    width: 300px;
    text-decoration: none;
    border-radius: 4.5px;

}

.hide-drop a:hover
{
    color: #F2F2F2;
    font-size: 1.08em;
    font-weight: 700 ;
    text-shadow: #B18FBF 3px 3px 3px;
}

.menu:hover .hide-drop
{
    display:block;
    position: absolute;
    

}

.tit
{
    font: normal 2.7em 'VT323';
    text-shadow: rgba(24, 87, 158, 0.445) 6px 6px 3.6px;
}

.titulo
{
    color: rgb(190, 99, 65);
}



