body
{
    background-color: dimgray;
    color: white;
}
header
{

}

li
{
    
}

main
{

}

nav
{
    position: relative;
    left: 80%;
}

ul
{
    margin: 0px;
}

.painel
{
    font-size: 1.8em;
    font-weight: 900;
    border: none;
    border-radius: 3px;
    padding: 3px;
    color: rgb(0, 132, 255);
    animation: engranagem 1.5s infinite;
}

.menu-drop
{
    display: inline-block;
    position: relative;
}
.drop-content{
    margin: none;
    display: none;
    background-color: rgb(32, 150, 218);
    border-radius: 3px;
    position: absolute;
    z-index: 1;
}
.drop-content a{
    color: rgb(0, 0, 0);
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}
.drop-content a:hover{
    background: linear-gradient(rgb(32, 103, 218), #40555f) ;
}
.menu-drop:hover .drop-content{
    display: block;
}
.menu-drop:hover .menu{
    background-color: rgb(32, 103, 218);
}

@keyframes engranagem
{
    from
    {transform: rotate(0);}
    to
    {transform: rotate(360deg);}
}