body
{
    margin: 9px ;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 108%;
}
.descri
{
    width: 45%;
    float: right;
}

#header
{
    width: 99%;
    height: 300px;
    margin-top: 0;
}

header
{
    text-align: center;
}

h1
{
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 6%;
    text-align: center;
}

h2
{
    font-size: 27px;
}

h3
{
    font-size: 18px;
}

.tiposcss
{
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    width: 45%;
}

table td
{
    padding: 6px;
}


