h1 
{
    font: normal 81px times;
    color: rgb(0, 0, 0);
}

h2 
{
    font: normal 45px times;
    color: rgb(0, 0, 0);
}

body 
{
    background: rgba(178, 226, 75, 0.286) url(../../XXXMATERIAISXXX/IMAGENS/snaker.png) no-repeat;
font: normal 21px times;
}

p
{
    background: rgba(241, 255, 211, 0.664)
}

blockquote
{
    background: rgba(241, 255, 211, 0.664)
}

.pylg
{
    animation: logante 3.69s infinite reverse;
}

@keyframes logante
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}