html::-webkit-scrollbar
{
    width: 9px;
}

html::-webkit-scrollbar-track
{
    background-color: rgb(51, 51, 51);
}

html::-webkit-scrollbar-thumb
{
    background-color:#e20d0d;
    border-radius: 27px;
}


body
{
    margin: 0px ;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 108%;
}
.descri
{
    width: 45%;
    float: right;
}

#header
{
    width: 100%;
    height: 300px;
    margin: 0%;
}

header
{
    text-align: center;
}

h1
{
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 6%;
    text-align: center;
}

h2
{
    font-size: 27px;
}

h3
{
    font-size: 18px;
}

.tiposcss
{
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    width: 45%;
}

main
{
    margin: 9px;
}

section
{
    padding: 9px;
    margin: 9px;
    box-shadow: rgba(0, 0, 0, 0.678) -3px 6px 6px 1.5px;
}

table td
{
    padding: 6px;
}

.lvl
{
    border: solid ;
    padding: 1.5px;
}
