@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html::-webkit-scrollbar
{
    width: 9px;
}

html::-webkit-scrollbar-track
{
    background-color: rgb(51, 51, 51);
}

html::-webkit-scrollbar-thumb
{
    background-color:#e20d0d;
    border-radius: 27px;
}

abbr:hover
{
    font-size:1.2em
}


body
{
    margin: 0px ;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 100%;
}
.descri
{
    width: 45%;
    float: right;
}

#header
{
    width: 100%;
    height: 300px;
    margin: 0%;
}

header
{
    text-align: center;
    width: 99%;
    height: 300px;
    background-image: url(../../../XXXMATERIAISXXX/IMAGENS/rainbow.jpg);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}

h1
{
    position:absolute;
    font-size: 6em;
    font-weight: 900;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 9%;
}

h2
{
    font-size: 27px;
}

h3
{
    font-size: 18px;
}

.tiposcss
{
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    width: 45%;
}

main
{
    margin: 9px;
}

section
{
    padding: 9px;
    margin: 9px;
    box-shadow: rgba(0, 0, 0, 0.678) -3px 6px 6px 1.5px;
}

table td
{
    padding: 6px;
}

.lvl
{
    border: solid ;
    padding: 1.5px;
}
