
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@300&display=swap');

body
{
    background-color: rgba(0, 0, 0, 0.658);
    color: greenyellow;
    font-family: 'Turret Road', cursive;
}

li
{
    margin: 1%;
}

.internet
{
    font-size: 2.7em;
}